/* item.css */

/* Estilos para ItemListContainer */
.ItemListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; /* Centramos verticalmente los elementos */
    text-align: center; /* Alineamos el texto al centro */
}

/* Estilos para ItemList */
h1.text-center {
    margin-bottom: 20px;
}

/* Estilos para Item */
.card-container {
    width: 30%; /* Ajustamos el ancho para tres columnas */
    margin: 10px;
}

.card {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega sombra */
    border-radius: 8px; /* Bordes redondeados para un aspecto más suave */
    transition: box-shadow 0.3s ease; /* Agrega una transición suave a la sombra */
    background-color: #258beb13; /* Color de fondo */
    border-color: rgba(0, 0, 255, 0.171);
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el ratón */
}

.card-img-top {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    align-self: center;
}

.btn-primary {
    display: block;
    margin-top: auto;
    margin-bottom: 10px;
}
