.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cartImg {
  display: flex;
  align-items: center;
  margin-right: 10px; 
}

.cartCount {
  background-color: rgb(247, 129, 129); 
  color: white;
  font-size: 1rem;
  text-align: center;
  border-radius: 50%;
  padding:1px 6px; 
  margin-left: 5px; 
  margin-top: 20px;
}
.navbar-nav{
  margin-left: 4rem;
  font-size: 1.2rem;
}

.itemListContainers{
  margin-top: 5rem;
}